body {
    font-family: cursive;
}

.logo_alg {
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 5px;
}

h1 {
    text-align: center;
    background-color: aqua;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

main {
    background-color: aquamarine;
    border-radius: 15px;
    margin-bottom: 15px;
}

ul {
    font-size: 100%;
}

header {
    background-color: blue;
    border-radius: 15px;
    padding: 15px 20px 15px 20px;
}

.link-haeder {
    font-size: 24px;
    color: #b8baff;
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
}

.link-haeder:hover {
    color: #ffb8d6;
    transform: scale(1.2);
}

footer {
    background-color: blue;
    border-radius: 15px;
    padding: 15px 20px 15px 20px;
}

.link_footer {
    text-decoration: none;
    background-color: white;
    border-radius: 7px;
    padding: 10px 15px 10px 15px;
    color: black;
}

.nav {
    background-color: rgb(161, 161, 161);
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

.nav_main {
    text-decoration: none;
    padding: 0px 20px 0px 20px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    
}

.nav_main:hover {
    color: #ffeab8;
    transform: scale(1.2);
}

nav {
    display: flex;
    justify-content: center;
}
