body {
    font-family: cursive;
}

.logo_alg {
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 5px;
}

h1 {
    text-align: center;
    background-color: aqua;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

main {
    background-color: aquamarine;
    border-radius: 15px;
    margin-bottom: 15px;
}

ul {
    font-size: 100%;
}

header {
    background-color: blue;
    border-radius: 15px;
    padding: 15px 20px 15px 20px;
}

.link-haeder {
    font-size: 24px;
    color: #b8baff;
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
}

.link-haeder:hover {
    color: #ffb8d6;
    transform: scale(1.2);
}

footer {
    background-color: blue;
    border-radius: 15px;
    padding: 15px 20px 15px 20px;
}

.link_footer {
    text-decoration: none;
    border-radius: 7px;
    padding: 10px 15px 10px 15px;
    color: black;
}

.nav {
    background-color: rgb(161, 161, 161);
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

.nav_main {
    text-decoration: none;
    padding: 0px 20px 0px 20px;
    color: black;
    transition: all 0.3s ease;
    
}

.nav_main:hover {
    color: #ffeab8;
    transform: scale(1.2);
}

nav {
    display: flex;
    justify-content: center;
}

.link_footer {
    font-size: 24px;
    color: #b8baff;
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    
}

.link_footer:hover {
    color: #ffb8d6;
    transform: scale(1.2);
}

.su-27 {
  width: 600px;
  border-radius: 10px;
  height: 375px;
  margin: 5px 0px 10px 0px;
}

.t90 {
  width: 600px;
  margin: 5px 0px 10px 0px;
  border-radius: 10px;
}

.obomne {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.link-main {
    font-size: 24px;
    color: #4169E1;
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    padding: 5px 0px 5px 0px
}
.link-main:hover {
    color: #0000FF;
    transform: scale(1.2);
}
